
/*Utility*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
 }

 /*General*/

html {
    font-family: Fredoka;
    background-color: #FFFFFE;
}

header h1 {
    color: #E53270;
    padding: 30px;
}

main{
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

#container{

  }